<div class="container mt-5">
    <h3 class="text-center mb-4">Đơn Hàng Của Bạn</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Mã Đơn Hàng</th>
                <th scope="col">Ngày Đặt Hàng</th>
                <th scope="col">Trạng Thái</th>
                <th scope="col">Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of listOrders">
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.orderDate }}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#orderDetailModal" (click)="showOrderDetail(item)">
                            Chi Tiết
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<!-- Modal hiển thị chi tiết đơn hàng -->
<div class="modal fade" id="orderDetailModal" tabindex="-1" aria-labelledby="orderDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Chi Tiết Đơn Hàng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <ng-container *ngIf="clicked == false ; else vipnha"></ng-container>
        </div>
    </div>
</div>



<ng-template #vipnha>
    <div class="modal-body">
        <p><strong>Mã Đơn Hàng:</strong> {{orderDetail.id }} </p>
        <p><strong>Ngày Đặt Hàng:</strong> {{orderDetail.orderDate}}</p>
        <p><strong>Trạng Thái:</strong>{{orderDetail.status}}</p>
        <p><strong>Tên Khách Hàng:</strong> {{orderDetail.fullName}} </p>
        <p><strong>Email:</strong> {{orderDetail.email}} </p>
        <p><strong>Số Điện Thoại:</strong> {{orderDetail.phone}} </p>
        <hr>
        <h4 class="text-center"><strong>Giỏ Hàng</strong></h4>
        <table class="table table-striped">
            <thead>
                <th>STT</th>
                <th>Ảnh</th>
                <th>Sản Phẩm</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderDetail.orderDetails">
                    <td>1</td>
                    <td><img [src]="item.image" width="50px"></td>
                    <td>
                        <h6>{{item.name}}</h6>
                        <p>
                            Kích thước: {{item.size}}
                            <br>
                            Màu sắc: {{item.color}} 
                        </p>
                    </td>
                    <td>
                        <p class="text-danger fw-bold mb-0">
                            {{item.price}}
                        </p>
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.quantity * item.price}}đ</td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-if="selectedOrder.discount > 0">
                    <td colspan="5" class="text-end">Giảm Giá:</td>
                    <td>{{orderDetail.moneyReduced || 0}}đ</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-end">Tổng Tiền:</td>
                    <td> {{orderDetail.money}}đ</td>
                </tr>
            </tfoot>
        </table>
    </div>
</ng-template>