<main class="body">
    <div class="mt-5 form-width-custom">
        <h3 class="text-center mb-3 fw-medium">Đăng Nhập</h3>

        <form id="form-login" class="needs-validation" [formGroup]="formVip" (ngSubmit)="login()">
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="userName" class="form-control">
                <div class="invalid-feedback">Vui lòng nhập email hợp lệ.</div>
            </div>

            <div class="form-group mb-3 position-relative">
                <label for="password" class="form-label">Mật Khẩu</label>
                <input type="text" class="form-control" formControlName="password">
                <i class="fa-solid fa-eye position-absolute top-0 end-0 mt-5 me-3"
                    ng-click="togglePasswordVisibility()"></i>
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-danger container-fluid">Đăng Nhập</button>
            </div>

            <p class="fs-6 mb-2 d-flex align-items-center gap-2">Bạn chưa có tài khoản ? <a class="nav-link text-danger"
                [routerLink]="'/public/register'" >Đăng Ký Ngay</a></p>
            <a [routerLink]="'/public/forgot-password'" class="nav-link text-danger">Quên Mật Khẩu</a>
        </form>

        <p class="text-center fs-6 fw-bold my-3">Hoặc</p>

        <div class="login-social d-flex flex-column gap-3">
            <div class="login-fb d-flex align-items-center justify-content-center gap-2 py-2 rounded-3" (click)="signInWithFB()">
                <img src="./assets/img/icon/icon-fb.svg" class="img-fluid icon-size-custom">
                <span class="text-white fw-medium">Đăng Nhập Với Facebook</span>
            </div>

            <div class="login-gg d-flex align-items-center justify-content-center gap-2 py-2 rounded-3">
                <asl-google-signin-button width="200" text="signin_with" type='icon' size='large'></asl-google-signin-button>
                <span class="fw-medium">Đăng Nhập Với Google</span>
            </div>
        </div>
    </div>
</main>